* {
  all: unset;
  font-family: "Noto Sans";
}

.music-card {
  background: rgba(13, 13, 13, 0.97);
  border-radius: 12px;
  padding: 7px;
  min-width: 111px;
}

.track {
  font-size: 11px;
  font-weight: 800;
  color: #ffffff;
  min-width: 105px;
}

.artist {
  font-size: 7px;
  color: #999999;
  margin-bottom: 5px;
  min-width: 105px;
}

.cover {
  border-radius: 8px;
  margin-bottom: 5px;
}

.times {
  font-size: 7px;
  color: #aaaaaa;
  margin: 0 3px 2px 3px;
  min-width: 98px;
}

.progress {
  margin: 0 3px 5px 3px;
}

.progress trough {
  background: #333333;
  min-height: 4px;
  min-width: 98px;
  border-radius: 5px;
}

.progress highlight {
  background: #ff5500;
  border-radius: 5px;
}

.progress slider {
  background: #ff5500;
  min-width: 7px;
  min-height: 7px;
  border-radius: 50%;
}

.controls {
  margin-bottom: 6px;
  min-width: 105px;
}

.controls button {
  font-size: 15px;
  color: #ffffff;
  margin: 0 7px;
}

.controls button:hover {
  color: #ff5500;
}

.play {
  background: #ff5500;
  border-radius: 50%;
  min-width: 32px;
  min-height: 32px;
  font-size: 14px;
}

.volume-row {
  min-width: 102px;
  margin: 2px 2px 0 2px;
}

.mute-button {
  min-width: 18px;
  min-height: 18px;
  margin-right: 5px;
}

.vol-label {
  font-family: "FontAwesome";
  font-size: 11px;
  color: #ff5500;
}

.mute-button:hover .vol-label {
  color: #ff7a33;
}

.volume {
  min-width: 76px;
}

.volume trough {
  background: #2a2a2a;
  min-height: 4px;
  min-width: 76px;
  border-radius: 5px;
}

.volume highlight {
  background: #ff5500;
  border-radius: 5px;
}

.volume slider {
  background: #ff5500;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
}
